@media (max-width: 768px){
    
    .first__page {
        .first__page-details{
        transform: translate(0, 0);
        top:250;
        .first__page-title{
         font-size: 16px;
        }   
        }
        
    }

}